<?xml version="1.0" encoding="UTF-8"?>

<launch>
  
  <!-- <include file = "$(find pkg_techfest_imc)/launch/gazebo.launch" />

  <include file = "$(find pkg_techfest_imc)/launch/rviz.launch" /> -->
  
  <!-- Arguments -->
  <!-- <arg name="map_file" default="$(find pkg_techfest_imc)/maps/map1.yaml"/> -->
  

  <!-- Map server -->
  <include file = "$(find pkg_techfest_imc)/launch/map_gmapping.launch" />
  <!-- <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/> -->

  <!-- AMCL -->
  <!-- <include file="$(find pkg_techfest_imc)/launch/amcl.launch"/> -->

  <arg name="base_global_planner" default="navfn/NavfnROS"/>
  <arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS"/>


  <!--- Run Move Base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" >
    <param name="base_global_planner" value="$(arg base_global_planner)"/>
    <param name="base_local_planner" value="$(arg base_local_planner)"/>
    <param name="move_base/global_costmap/robot_base_frame" value="link_chassis"/>  
    
    <rosparam file="$(find pkg_techfest_imc)/config/move_base_params.yaml" command="load"/>
    <rosparam file="$(find pkg_techfest_imc)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find pkg_techfest_imc)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find pkg_techfest_imc)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find pkg_techfest_imc)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find pkg_techfest_imc)/config/dwa_local_planner_params.yaml" command="load" />
  </node>

  <node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
    <param name="robot_base_frame" value="link_chassis"/>
    <param name="costmap_topic" value="map"/>
    <param name="costmap_updates_topic" value="map_updates"/>
    <param name="visualize" value="true"/>
    <param name="planner_frequency" value="0.33"/>
    <param name="progress_timeout" value="30.0"/>
    <param name="potential_scale" value="3.0"/>
    <param name="orientation_scale" value="0.0"/>
    <param name="gain_scale" value="1.0"/>
    <param name="transform_tolerance" value="0.3"/>
    <param name="min_frontier_size" value="0.5"/>
  </node>
  
  
</launch>